
.top-message{
	font-size: 1.5em;
	text-align: center;
	max-width: 600px;
	margin: 0 auto;

	blockquote{
		background: #ff5126;
		padding: 10px;
		color: #fff;
		position: relative;

		*{
			color: #fff;
		}

		&:after{
			content: "";
		    border-width: 10px;
		    border-style: solid;
		    border-color: transparent transparent #ff5126 transparent;
		    position: absolute;
		    top: -20px;
		}
	}
}

.hashtag{
	background: #3c5a6d;
	padding: 5px;
	display: inline-block;
	color: #fff;
}

.topwidget{

	.fa,.fas{
		font-size: 3em;
		color: #888;
	}

	ul{
		margin: 0;
		padding: 0;

		li{
			list-style: none;
		    padding-bottom: 6px;
		    margin-bottom: 6px;
		    border-bottom: 1px solid #dddddd42;
		}
	}

	tr {
	    border-bottom: 1px solid #f1f1f1;
	}
}

.topwidget-list .region .block{
	position: relative;
	background: #fff;
	padding: 20px;
	margin-bottom: 30px;
}


/*----------------------------
	Contact page
-----------------------------*/

.contact-message-feedback-form{
    max-width: 650px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid $borderColor;
    padding: 20px 30px;
 }

.contact-message-feedback-form {

	.form-text, 
	.form-email, 
	.form-textarea{ 
		width: 100%; 
	}

}


/*----------------------------
	User Login Form
-----------------------------*/

.user-login-form,
.user-form,
.user-pass{
	max-width: 500px;
    margin: 40px auto;
    border: 1px solid #e6e6e6;
    padding: 5px 20px;
    background: #fdfdfd;

	.form-text,
	.form-email{
		width: 100%;
	}
}

.form-composite > .fieldset-wrapper > .description, 
.form-item .description {
	color: #999;
	font-style: italic;
}


/*----------------------------
	Maintainance
-----------------------------*/

.maintenance-page{
	background: image-url("maintenance-bg.png") #66CBFF center no-repeat;
	color: #fff;
	text-align: center;
	padding-top: 220px;
	padding-bottom: 100px;
	color: #000;

	.brand,
	.name-and-slogan{
		display: inline-block;
		vertical-align: middle;
	}

	.site-name a{
		color: #404040;
	}

	.site-slogan,
	.name-and-slogan{
		display: none;
	}
}

.maintenance-msg {
	margin: 20px 0;
	padding: 20px 30px;
	display: inline-block;
	color: #404040;
	border: 1px solid #fff;
	background: rgb(242, 244, 207);
	background: rgba(242, 244, 207, 0.88);
	@include box-shadow (5px 5px 0px #fff);

 	h1{
	  text-transform: uppercase;
	  font-weight: bold;
	}
}


/*----------------------------
	Profile Page
-----------------------------*/

.path-user{

	.profile {

		> div{
			display: inline-block;
		}

		.label{
		  display: block;
		  color: #333;
		}
	}
}
